@import url('config.css');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e1e1e;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr repeat(3, 10px 1fr);
    grid-template-areas: 
    "header header header header header header header"
    "sidebar-esq . conteudo conteudo conteudo . sidebar-dir"
    "footer footer footer footer footer footer footer"
    ;
    grid-template-rows: 1fr 3fr 1fr;
    grid-row-gap: 10px;
}

.cx-1 {
    grid-area: header;
}

.cx-2 {
    grid-area: sidebar-esq;
}

.cx-3 {
    grid-area: conteudo;
}

.cx-4 {
    grid-area: sidebar-dir;
}

.cx-5 {
    grid-area: footer;
}